.vscode
Assembly-CSharp.csproj
*.csproj
*.sln
Library
Logs
Temp/
.vs/
obj/
Assets/_Game/Data/Source/~$DRAGON_GD.xlsx.meta
Assets/_Game/Data/Source/~$DRAGON_GD.xlsx
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectVersion.txt
